*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family:  serif;
} 
body{
    background-color: #3E3B3A;
}
.navbar{
    width: 100%;
    background-color: #489DC1;
    
    overflow: hidden;
    
}
.navbar ul li{
    float: right;
    list-style-type: none;
    
}
.navbar ul li a{
    text-decoration: none;    
    display: block;
    padding: 20px;
    font-weight: bold;
    font-size: 20px; 
    color: black;
}
.navbar ul li:nth-child(1){
    float: left;
}
.navbar ul li a:hover{
    background-color: #e27686;
    color: black;
}
.navbar ul li:nth-child(1) a:hover{
    background-color:  #489DC1;
    color: white; 
}
.navbar ul li:nth-child(2){
    margin-right: 50px;
}
.marquee{
    width: 100%;
    background-color: #058158;
    padding-top: 5px;
    color: whitesmoke;
    position: sticky;
    top: 0px;
    z-index: 5;
}
.banner img{
    width: 100%;
    margin-top: 5px;
}

.parent-offer{
    display: flex;
}

.first-offer, .second-offer, .third-offer{
    width: 20%;
    background-image: linear-gradient(to right, #058158, #FEC882);
    border-radius: 10px;
    text-align: justify;
    margin-left: 250px;
    margin-top: -65px;
    padding: 10px;
    font-size: 20px;
    position: relative;
}

.second-offer{   
    margin-left: 10px;
}
.third-offer{
    margin-left: 10px;
}

/* first offer animation */
.first-offer:hover{
    animation-name: faisal;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count:1;
}
@keyframes faisal {

    from{
        left: 0px;
        top: 0px;
    }
    to{
        left: 0px;
        top: -100px;
    } 
}

/* second offer animation */
.second-offer:hover{
    animation-name: faisal1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes faisal1 {

    from{
        left: 0px;
        top: 0px;
    }
    to{
        left: 0px;
        top: -100px;
    } 
}
 
  /* third offer animation   */
.third-offer:hover{
    animation-name: faisal2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes faisal2 {

    from{
        left: 0px;
        top: 0px;
    }
    to{
        left: 0px;
        top: -100px;
    } 
}

/* buy section */
/* first-one buy */
.head{
    width: 100%;
    margin-top: 10px;
}
.shop,.review{
    width: 300px;
    background-color:#58ad79;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.buy{
    display: flex;
    justify-content: center;
}
.buy .first-one, .second-one, .third-one, .fourth-one, .fifth-one{
    width: 18%;
    background-color: #e27686;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    text-align: justify;
    position: relative;
    justify-content: center;
}
.buy h4::after{
    content: 'Hot deal';
    font-size: 12px;
    background-color: aqua;
    margin-left: 70px;
    padding: 5px;
    border-radius: 10px;
}
.buy .bttn{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #f44336;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.buy .bttn:hover{
    background-color: #058158;
    
}

.images{
    height: 270px;
    width: 200px;
    margin-left: 12px;
}
/* Review section */
 
.review-card{
    width: 20%;
    background-color: lightcoral;
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 10px; 
    text-align: justify;
    margin-left: 20px;
    /* border-left:2px soiid #489DC1; */
}
.review-head{
    display: flex;
}
.icon{
    margin-left: 80px;
    margin-top: -15px;
    margin-bottom: 10px;
}
.icon i{
    color: aqua;
    font-size: 15px;
}
.review-card .review-head .faisal{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.review-card .review-head h2{
    margin-left: 14px;
    margin-top: 13px;
    font-size: 19px;
}
.review-parent{
    display: flex;
    justify-content: center;
}
/* comment section */
.comment{
    width: 100%;
    background-color: #be2c2cf6;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    position: relative;
}
form{
    display: block;
    margin-left: 150px;
    position: relative;
}
form label{
    margin-left: 30px;
    font-size: 20px;
}
form input{
    width: 400px;
    border: none;
    outline: none;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    /* font-size: 20px; */
}
form input:focus{
    font-weight: bold;
    font-size: 20px;
}
.bttn1{
    width: 70%;
    margin-left: 150px;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
}
.bttn1:hover{
    background-color: aquamarine;
    cursor: pointer;
}
#edu{
    position: relative;
    margin-left: 35px;
}

/* footer section */
 
footer .footer{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin-left: 460px;
}
footer a{
    display: inline-block;
    background-color: rgb(221, 64, 11);
    padding: 10px;
    color: black;
    margin-left: 450px;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 10px;
    opacity: 0.7;
}
footer a:hover{
    opacity: 1;
}
footer{
    display: flex;
}
 
 
